@* 機能毎のスタイルファイルを記載 *@
@section OriginalStyle
{
    <style type="text/css">
    </style>
}
<h2>登録</h2>
<section class="section--grey mdl-shadow--2dp contents">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="key">
        <label class="mdl-textfield__label" for="key">Key</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="value">
        <label class="mdl-textfield__label" for="value">Value</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="registration">
        登録
    </button>
</section>

<h2>表示</h2>
<section class="section--grey mdl-shadow--2dp contents">
    <ul class="demo-list-item mdl-list" id="view-ul">
    </ul>
</section>


@* 機能毎のスクリプトファイルを記載 *@
@section OriginalScript
{
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="~/scripts/firebase-page.js" type="text/javascript"></script>
}
