@* 機能毎のスタイルファイルを記載 *@
@section OriginalStyle
{
    <style>
        .demo-card-wide > .mdl-card__title {
            color: #000;
            height: 176px;
            
        }

        .handsontable-img {
            background: url("../image/handsontable-logo.png") center / cover;
        }

        .linq-img {
            background: url("../image/linq-logo.png") center / cover;
        }

        .flex {
            display: flex;
        }

        .flex .flex-contents{
            display:block;
            margin:10px;
        }
    </style>
}

<div class="flex">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp flex-contents">
        <div class="mdl-card__title handsontable-img">
            <h2 class="mdl-card__title-text">Handsontable</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Handsontableの動作を確認
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/handsontable/ReferenceView">
                ⇒
            </a>
        </div>
    </div>
</div>  